#add-btn {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-btn:hover {
  box-shadow: 3px 3px 6px rgba(50, 0, 150, 0.5);
}

#add-btn::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#add-btn:hover::after {
  opacity: 1;
}
